<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>

    <header class="header">
        <nav class="navbar">
            <img src="/images/logo.png" alt="" class="logo">
            <h2>Meal Bridge</h2>
            <button>
                Log Out  <img src="/images/arrow.svg" alt="Arrow" class="arrow-icon">
             </button>
        </nav>
    </header>
    <main>
     
        <section class="dash-grid">
            <div class="box-container">
                <h2>Donate Food</h2>
                <div class="box" id="b1">

                </div>

            </div>
            <div class="box-container">
                <h2>Receive Food</h2>
                <div class="box" id="b2">
                    
                </div>

            </div>
            <div class="box-container">
                <h2>Track Inventory</h2>
                <div class="box" id="b3">
                    
                </div>

            </div>
            <div class="box-container">
                <h2>Get Fertilizer</h2>
                <div class="box" id="b4">
                    
                </div>

            </div>
          
        </section>
        <h2 id="h2-2">Join Our Fight Against Hunger</h2>
        <section class="info-grid">
            <div class="info-box" id="info-box1"></div>
            <div class="info-box" id="info-box2"></div>
            <div class="info-box" id="info-box3"></div>

            <div class="info-title">Enhanced Inventory Managament</div>
            <div class="info-title">Optimised Food Donation Process</div>
            <div class="info-title">Improveed Communication Process</div>
            
            <div class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur repellat et voluptatem delectus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur repellat et voluptatem delectus!</div>
            <div class="info-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae ea sequi eum?</div>
            <div class="info-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, similique rerum! Modi.</div>

        </section>
    </main>
    
</body>
</html>